<!DOCTYPE HTML>

<html>
   <head>

      <script type = "text/javascript">
         function WebSocketTest() {

            if ("WebSocket" in window) {
               var ws = new WebSocket("ws://0.0.0.0:4000/");

               ws.onopen = function() {
                  ws.send("Hello man, now i will be your friend");
               };

               ws.onmessage = function (evt) {
                  var received_msg = JSON.parse(evt.data);
                  document.getElementById('graphic_1').innerHTML = received_msg.first_image;
                  document.getElementById('graphic_2').innerHTML = received_msg.second_image;
<!--                  alert("Message is received...", evt.data);-->
               };

               ws.onclose = function() {
<!--                  alert("Connection is closed...");-->
               };
            } else {
               // The browser doesn't support WebSocket
               alert("WebSocket NOT supported by your Browser!");
            }
         }
         WebSocketTest()
      </script>

   </head>

   <body>
      <div id = "sse">
         <p>На этой странице данные будут обновляться каждые 5 минут.</p>
         <a href = "/">Перейти к статическому графку</a>
      </div>
      <p>График процентной загруженности ЦП.</p>
      <p id="graphic_1"></p>
      <p>График занятой оперативной памяти.</p>
      <p id="graphic_2"></p>
   </body>
</html>